@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
   font-family: "poppins";
   src: url("/public/font/Poppins-Regular.otf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

.font-poppins {
   font-family: "poppins";
}
body {
   font-family: "poppins";
}
